#myHeader{
	background-image: url('./pictures/atharv.jpg');
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}
.hidden{
	display: none;
}
.img {
    position: relative;
    float: left;
    width:  auto;
    height: auto;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}